table {
    width: 100%;
}

.center {
    text-align: center;
    justify-content: center;
}

.right {
    text-align: right;
    justify-content: right;
}

.totalRow {
    font-weight: bold;
    font-size: 20px;
}